<body>
  <header>
    <h1>Titulo principal</h1>
  </header>
  <main>
    <section>
      <h2>Seccion principal 1</h2>
      <p>Contenido de la primera seccion</p>

      <aside>
        <h3>Titulo del aside</h3>
        <section>
          <h4>Seccion del aside 1</h4>
          <p>Contenido de la primera seccion dentro del aside</p>
        </section>

        <section>
          <h4>Seccion del aside 2</h4>
          <p>Contenido de la segunda seccion dentro del aside</p>
        </section>
      </aside>
    </section>

    <section>
      <h2>Seccion principal 2</h2>
      <p>Contenido de la segunda seccion</p>
    </section>
  </main>
</body>
